<!-- Exercise 1 - Write one Handlebars template to show the details of a movie -->

<div class="movie-description">
	<div>Movie Name: {{name}}</div>
	<div>Year: {{year}}</div>
	<div>Duration: {{duration}}</div>
	<div>Rating: {{rating}}</div>
	<div>Director: {{director}}</div>
	<input type="button" value="Add" class="add" />
	<input type="button" value="Remove" class="remove" />
	<input type="button" value="Edit" class="edit" />
</div>